@model List<Checklist>
@{
    ViewData["Title"] = "Archive Checklists";
}

<div class="container">
    <partial name="_PageTitlePartial" model="@("Archive Checklists")" />
    <div class="row">
        @foreach (var checklist in Model)
        {
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-header bg-success">
                        <h4 class="card-title"><a asp-action="CheckItemForChecklist" asp-controller="CheckItem" asp-route-todoId="@checklist.Id" class="text-light">@checklist.Title</a></h4>
                    </div>
                    <div class="card-body">
                        <h5>@checklist.Description</h5>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@checklist.Id">Delete</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>


