@model List<Income>
@{
    ViewData["Title"] = "View";
}

<div class="container">
    <partial name="_PageTitlePartial" model="@("All Incomes")" />
    <div class="row">
        <div class="col-12 col-md-6 col-lg-1 mb-5">
                <h2 class="btn btn-success btn-lg"><a class="text-light" asp-action="Add"><i class="fa-solid fa-plus"></i></a></h2>
            </div>
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Reason</th>
                        <th>Sender</th>
                        <th>Description</th>
                        <th>Issue Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var income in Model)
                    {
                        <tr>
                            <td>@income.Amount BGN</td>
                            <td>@income.IncomeType</td>
                            <td>@income.Sender</td>
                            <td>@income.Description</td>
                            <td>@income.Date.ToString("dd.MM.yyyy")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


