@model List<TodoTask>
@{
    ViewData["Title"] = "Todo Tasks";
}

<div class="container">
    <partial name="_PageTitlePartial" model="@("All Todo Tasks")" />
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Task</th>
                    <th>Time</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var todoTask in Model)
                {
                    <tr>
                        <td class="@(todoTask.IsCompleted ? "bg-success" : "bg-warning") font-weight-bold text-light">@(todoTask.IsCompleted ? "Completed" : "Processing")</td>
                        <td>@todoTask.Task</td>
                        <td>@todoTask.Time.ToShortTimeString()</td>
                        @if (!todoTask.IsCompleted)
                        {
                            <td><a asp-action="Complete" asp-route-id="@todoTask.Id" class="btn btn-success">Complete</a></td>
                        }
                        else
                        {
                            <td><span class="btn btn-secondary">Complete</span></td>
                        }
                    </tr>
                 }
                </tbody>
        </table>
    </div>
</div>


