@model List<CheckItem>

<div class="container">
    <partial name="_PageTitlePartial" model="@("All Check Items")" />
    <div class="row">
        <div class="col-12 col-md-6 col-lg-1 mb-5">
            <h2 class="btn btn-success btn-lg"><a class="text-light" asp-action="Add" asp-controller="CheckItem" asp-route-checklistId="@((int)TempData["checkListId"])"><i class="fa-solid fa-plus"></i></a></h2>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Text</th>
                    <th>Description</th>
                    <th>Check</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var checkItem in Model)
                {
                    <tr>
                        <td>@checkItem.Text </td>
                        <td>@checkItem.Description</td>

                        @if(checkItem.IsChecked)
                        {
                            <td><a asp-action="ToggleCheck" asp-route-id="@checkItem.Id" class="btn btn-dark text-white">Uncheck</a></td>
                        }

                        else
                        {
                            <td><a asp-action="ToggleCheck" asp-route-id="@checkItem.Id" class="btn btn-success text-white">Check</a></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>