@model List<Todo>
@{
    ViewData["Title"] = "Todos";
}

<div class="container">
    <partial name="_PageTitlePartial" model="@("All Todos")" />
    <div class="row">
        <div class="col-12 col-md-6 col-lg-1 mb-5">
            <h2 class="btn btn-success btn-lg"><a class="text-light" asp-action="Add"><i class="fa-solid fa-plus"></i></a></h2>
        </div>
    </div>
    <div class="row">
        @foreach (var todo in Model)
        {
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"><a asp-action="TodoTaskForTodo" asp-controller="TodoTask" asp-route-todoId="@todo.Id">@todo.Title</a>, @(todo.IsCompelted ? "Completed" : "Processing")</h4>
                    </div>
                    <div class="card-body">
                        <h5>@todo.Text</h5>
                        <hr />
                        <p class="card-text">@todo.ScheduledTime</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-info" asp-action="Add" asp-controller="TodoTask" asp-route-todoId="@todo.Id">Update</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@todo.Id">Delete</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>


