@model List<Todo>
@{
    ViewData["Title"] = "Archive Todos";
}

<div class="container">
    <partial name="_PageTitlePartial" model="@("Archive Todos")" />
    <div class="row">
        @foreach (var todo in Model)
        {
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-header bg-success">
                        <h4 class="card-title"><a asp-action="TodoTaskForTodo" asp-controller="TodoTask" asp-route-todoId="@todo.Id" class="text-light">@todo.Title</a></h4>
                    </div>
                    <div class="card-body">
                        <h5>@todo.Text</h5>
                        <hr />
                        <p class="card-text">@todo.ScheduledTime</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@todo.Id">Delete</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>


